@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}